<p>about-view works!</p>

<h1>Om brädkultur</h1>
<p>Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, 
    sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<a href="https://www.flaticon.com/free-icons/day-and-night" title="day-and-night icons">Day-and-night icons created by rizal2109 - Flaticon</a>

<form id="contact-form">
    <h3>Kontakta oss</h3>
    <input type="text" placeholder="Rubrik..." #formHeader>
    <br/>
    <input type="text" placeholder="Innehåll..." #formText>
    <br/>
    <input type="text" placeholder="exempel@mail.com" #formMail>
    <br/>
    <button type="button" (click)="sendForm(formHeader.value, formText.value, formMail.value)">Skicka formulär</button>
</form>