<div *ngIf="this.showAddPostModal === true">
    <app-create-post-modal></app-create-post-modal>
</div>
<div *ngIf="this.showLogInModal === true">
    <app-login-modal></app-login-modal>
</div>
<div id="header">
    <div id="header-logo">logo</div>
    <div id="navbar">
        <!--Routing-->
        <a routerLink="/home">Hem</a>
        <a routerLink="/">Skateboard</a>
        <a routerLink="/snow">Snowboard</a>
        <a routerLink="/about">Om mig</a>
    </div>
    <div id="log-in">
        <!--Modal with log-in form-->
        <button (click)="login()">Log in component</button>
    </div>
    <div *ngIf="this.using.username != 'guest';" id="create-post">
        <!--Modal to create post-->
        <a [routerLink]="['/acc', using.username]">{{using.username}}</a>
        <button (click)="openModal()">+post</button>
    </div>
    <div>
        <!--Service-->
        <button>Darkmode</button>
    </div>
    <div *ngIf="using.username != 'guest'">
        <a routerLink="/admin">Administratörs-vy</a>
    </div>
</div>
<div id="margin"></div>
<button (click)="clearLocalStorage()">clear localstorage</button>
<button (click)="fillLocal()">fill localstorage</button>
<!-- This component should always be visible, however the log-in button will change depending on if the user is logged in or not -->
<!-- When a navbar link is pressed, it should be bold to let the user know where they are navigated currently -->