<div id="header">
    <div id="header-logo">logo</div>
    <div id="navbar">
        <!--Routing-->
        <a>Link test</a>
    </div>
    <div id="log-in">
        <!--Modal with log-in form-->
        <button>Log in component</button>
    </div>
    <div id="create-post">
        <!--Modal to create post-->
        <button>+post</button>
    </div>
    <div>
        <!--Service-->
        <button>Darkmode</button>
    </div>
</div>
<!-- This component should always be visible, however the log-in button will change depending on if the user is logged in or not -->
<!-- When a navbar link is pressed, it should be bold to let the user know where they are navigated currently -->