<div *ngIf="this.showAddPostModal === true">
    <app-create-post-modal></app-create-post-modal>
</div>
<div *ngIf="this.showLogInModal === true">
    <app-login-modal></app-login-modal>
</div>
<div id="header">
    <img alt="logo" src="./assets/img/logo.png" id="header-logo">
    <div id="navbar">
        <!--Routing-->
        <a routerLink="/home">Hem</a>
        |
        <a routerLink="/">Skateboard</a>
        |
        <a routerLink="/snow">Snowboard</a>
        |
        <a routerLink="/about">Om mig</a>
    </div>
    <div id="log-in">
        <!--Modal with log-in form-->
        <div *ngIf="using.username != 'guest'" id="log-in-item">
            <a [routerLink]="['/acc', using.username]">
                <img alt="user"  src="./assets/img/login.png" id="user-logo">
            </a>
            <a id="user-name" [routerLink]="['/acc', using.username]">{{using.username}}</a>
        </div>
        <div id="log-in-item-btns">
            <button id="log-in-btn" (click)="login()">logga in</button>
            <button *ngIf="this.using.username != 'guest';" id="post-btn" (click)="openModal()">+</button>
        </div>
    </div>
    <div id="item-2">
        <!--Service-->
        <button id="day-night-btn">
            <img src="./assets/img/day-and-night.png">
        </button>
    </div>
    <div *ngIf="using.username === 'admin'" id="admin">
        <a routerLink="/admin" id="admin-link">admin-vy</a>
    </div>
</div>
<div id="margin"></div>
<button (click)="clearLocalStorage()">clear localstorage</button>
<button (click)="fillLocal()">fill localstorage</button>
<!-- This component should always be visible, however the log-in button will change depending on if the user is logged in or not -->
<!-- When a navbar link is pressed, it should be bold to let the user know where they are navigated currently -->