<p>{{this.id}}</p>
<h1>{{post.header}}</h1>
<h2>{{post.creator.username}}</h2>
<p>{{post.date}}</p>
<p>{{post.tags}}</p>
<img id="thumbnail" src="{{post.thumbnail}}">
<p>{{post.text}}</p>
<div class="ineractables" *ngIf="this.user.username != 'guest'">
    <button (click)="like()">Gilla</button>
    <button (click)="dislike()">Ogilla</button>
</div>
<p>Gillningar: {{post.open.likes}} Disslajks: {{post.open.dislikes}}</p>
<p>Kommentarer:</p>
<div class="ineractables" *ngIf="this.user.username != 'guest'">
    <input type="text" placeholder="Skriv kommentar..." #newComment>
    <button (click)="comment(newComment.value)">Publicera kommentar</button>
</div>
<div id="comments" *ngFor="let comment of post.open.comments; index as i">
    <p>{{comment.text}}</p>
    <p>{{comment.user.username}}</p>
    <p>{{comment.open.likes}}</p>
    <div class="ineractables" *ngIf="this.user.username != 'guest'">
        <button *ngIf="commentLiked[i] === false || commentLiked[i] == null" (click)="likeComment(i)">gilla kommentar</button>
        <button *ngIf="commentLiked[i]" (click)="unLikeComment(i)">gilla kommentar</button>
    </div>
</div>
