#create-post-modal {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.625);
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
}

#modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-self: center;
    align-self: center;
    height: fit-content;
    width: 50%;
}

#modal > h1 {
    text-align: center;
}